@charset "utf-8";

/* 主体部分 */
.main {
    width: 100%;
    min-height: 900px;
}

.w1200 {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.w-title {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
    width: 100%;
    border-bottom: 2px solid #e6e6e6;
}

.login-box {
    margin-left: 103px;
    margin-top: 80px;
    border: 1px solid #d2d2d2;
    width: 981px;
    height: 490px;
    border-radius: 4px;
    overflow: hidden;
    /* background: url(img/login-box-bg.png) center 10px no-repeat; */
}


/* 登录框的部分 */

.login-box .login-box-1, .login-box .login-box-2 {
    width: 50%;
    height: 407px;
    float: left;
}

.login-title {
    font-weight: bold;
    font-size: 18px;
    margin-left: 92px;
    margin-top: 37px;
}

/* 登录里面的盒子 */

.login-box-1 .box {
    margin-left: 92px;
    margin-top: 25px;
}


.login-box-1 .box-title {
    font-size: 14px;
    width: 60px;
    display: inline-block;
    text-align: justify;
    text-justify: inter-ideograph;
}

.login-box-1 .box input {
    height: 25px;
    border: 1px solid #d5d5d5;
    width: 280px;
    margin-left: 0px;
}

input, textarea, select {
    outline: none;
}

a:active, a:link {
    text-decoration: none;
    outline: none;
    color: #000000;
}

.login-box-1 input.login {
    background: #dc2829;
    color: #fff;
    border-width: 0px;
    width: 84px;
    height: 35px;
    border-radius: 4px;
    vertical-align: top;
    margin-left: 122px;
}

.login-box-1 a{
    color:#000000;
    font-size:14px;
}

.box span{
    font-size:14px;
}

.login-box-1 .box ul {
    margin-top: 20px;
}


/* 登录部分的图片属性 */

.login-box-1 .box ul li {
    width: 125px;
    height: 46px;
    float: left;
    line-height: 46px;
}
.login-box-1 .box ul li img {
    margin: 0 10px;
    vertical-align: middle;
}

/* 第二个盒子 */
.login-box-2 .login2-title {
    font-weight: bold;
    font-size: 18px;
    margin-left: 51px;
    margin-top: 37px;
}

.login-box-2 .login2-tips {
    margin-left: 85px;
    margin-top: 24px;
    font-size:14px;
}

.login-box-2 ul {
    margin-top: 25px;
    margin-left: 85px;
    color: #a6a6a6;
}

.login-box-2 ul li {
    margin-bottom: 10px;
    padding-left: 20px;
    /* background: url(img/login2-list-img.png) left center no-repeat; */
    font-size: 14px;
    color: #a6a6a6;
}

.login-box-2 .free-register {
    margin-top: 27px;
    background: #000;
    color: #fff;
    border-radius: 4px;
    margin-left: 165px;
    width: 107px;
    height: 30px;
}

.login-box .login-box-3 {
    background: #ededed;
    width: 100%;
    height: 81px;
    border-top: 1px solid #d6d6d6;
    float: left;
}


.login-box-3 .cancel {
    margin: 25px 0 0 29px;
    width: 84px;
    height: 35px;
    background: none;
    border: 1px solid #b8b8b8;
    border-radius: 4px;
}